DATABASE_URL=postgresql+psycopg://neondb_owner:npg_ib5XlIOF2uxf@ep-restless-violet-anmpow2v.c-6.us-east-1.aws.neon.tech/locust_farm?sslmode=require
SECRET_KEY=K4bX1eTIjH3rSVroqaCFBhlO3hZy0OMyl2EIxNSr55w
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Twilio SMS Configuration
TWILIO_ACCOUNT_SID=AC6e44aa69363c76485ecdedd291123b85
TWILIO_AUTH_TOKEN=a61f852ae2ae3b3f4f6ddf9df1212676
TWILIO_FROM_PHONE=+15672368169
CRITICAL_ALERT_PHONE=+216 98264250
